
@model Drop.Common.ApiObjects.Request.User.ResetPasswordRequest
@{
    string token = (string)ViewBag.Token;
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="container body-content">

        <h4>Şifre resetleme işlemi</h4>
        <hr />
        <div id="success" class="alert alert-success hide">
            <button class="close" data-close="alert"></button>
            <span> Şifreniz resetlendi.</span>
        </div>

        <div id="danger" class="alert alert-danger hide">
            <button class="close" data-close="alert"></button>
            <span>Uygulamada beklenmedik bir hata meydana geldi, lütfen daha sonra tekrar deneyiniz.</span>
        </div>


        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Yeni şifre</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control  placeholder-no-fix", type = "password", autocomplete = "off", placeholder = "", name = "NewPassword" })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Şifreyi doğrula</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control placeholder-no-fix", type = "password", autocomplete = "off", placeholder = "", name = "ConfirmPassword" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="form-group">
            <input type="button" value="Gönder" class="btn btn-default" onclick="resetPassword()" />
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Raqun</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">

        function resetPassword() {
            var newPassword = $("#NewPassword").val();
            var confirmPassword = $("#ConfirmPassword").val();

            if (!newPassword || !confirmPassword) {

                $("#danger").removeClass("hide");
                $("#danger>span")[0].innerHTML = "Formda eksik bilgiler var.";
                return;
            }

            if (newPassword !== confirmPassword) {

                $("#danger").removeClass("hide");
                $("#danger>span")[0].innerHTML = "Girilen şifreler eşleşmiyor.";
                return;
            }

            $.ajax({
                url: '@ViewBag.ApiUrl.ToString()' + 'Mail/ResetPassword',
                type: 'Post',
                data: {
                    NewPassword: newPassword,
                    ConfirmPassword: confirmPassword,
                    Token: '@ViewBag.Token',
                    UserId: '@ViewBag.UserId'
                },
                content: 'application/json; charset=utf-8',
                //  dataType: "json", //if uncommented request body always must be json typed
                success: function (result) {
                    console.log("sendRequest: method successfully ended");
                    $("#success").removeClass("hide");
                    $("#danger").addClass("hide");
                },
                error: function (e, settings, exception) {
                    $("#danger").removeClass("hide");
                    var errorText = e.responseJSON.Message;
                    $("#danger>span")[0].innerHTML = errorText;
                    console.log(e);
                }
            });
        }

    </script>
</body>

</html>
